$colorPrincipal: rgb(237, 225, 232);
$colorDetalles1: rgb(187, 149, 173);
$colorDetalles2: rgb(98, 65, 87);
$colorOscuro: rgb(20, 18, 18);

body {
    margin: 0;
    background-color: $colorPrincipal;

}


nav {
    background-color: $colorDetalles1;
    display: flex;
    margin: 0;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        cursor: pointer;

        li {
            a {
                text-decoration: none;
                color: $colorOscuro;

                &:hover {
                    text-decoration: underline;
                    color: $colorDetalles2;
                }
            }

        }
    }
}

#seccionInicio {
    padding: 10px;
    background-color: $colorPrincipal;
    text-align: center;

    div {

        article {
            display: flex;
            flex-direction: column;
            border: 2px solid $colorDetalles2;
            border-radius: 10px;
            margin: 20px auto;
            width: 90%;
            box-shadow: 0 10px 15px $colorDetalles2;
            padding: 10px;
            justify-content: space-around;
        }
    }

    button {
        background-color: $colorDetalles2;
        padding: 10px;
        margin: 15px;
        width: 30%;
        transition: transform 0.3s;
        text-decoration: none;
        
        a {
            color: $colorPrincipal;
            text-decoration: none;
        }

        &:hover {
            transform: scale(1.1)
        }

    }
}

#seccionSobreMi {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    background-color: $colorPrincipal;
    text-align: center;
    border: 2px solid $colorDetalles2;
    border-radius: 10px;
    line-height: 1.6;
}

#seccionProyectos {
    h2 {
        text-align: center;
        margin: 20px;
        color: $colorOscuro;
    }

    .carousel-caption {
        background-color: rgba(90, 70, 93, 0.604);
        padding: 15px;
        border-radius: 10px;
    }

    #carouselExampleCaptions {
        width: 90%;
        margin: auto;
    }

    .carousel-item img {
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
    }

    .carousel-caption h5 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .carousel-caption p {
        font-size: 1rem;
    }
}

#seccionContacto {
    padding: 10px;
    text-align: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        width: 100%;
        max-width: 500px;
        border: 5px;
        margin: 10px auto;
        border-radius: 10px;
        border: 1px solid $colorDetalles2;
        box-shadow: 0 10px 25px $colorDetalles2;
        align-items: center;
        text-align: center;
        padding: 10px 0;

        input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid $colorDetalles1;
            outline: none;
        }

        textarea {
            width: 80%;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid $colorDetalles1;
        }

        button {
            padding: 15px;
            margin: 15px;
            border: none;
            border-radius: 5px;
            background: $colorDetalles2;
            color: $colorPrincipal;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: darken($colorDetalles2, 10%);
                transform: scale(1.05);
            }
        }
    }
}

footer {
    flex-direction: column;
    text-align: center;
    background-color: $colorDetalles1;
    padding: 10px;
}


@media (min-width: 769px) {
    nav {
        flex-direction: row;
        padding: 15px;

        ul {
            flex-direction: row;
            padding: 15px;
        }
    }

    #seccionInicio {
        div {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 10px;

        }
    }

    #seccionSobreMi {
        flex-direction: row;
        align-items: center;
        width: 70%;
        margin: auto;
        gap: 20%;
        padding: 15px;

        p {
            display: flex;
            flex-direction: column;
        }
    }

    #carouselExampleCaptions {
        width: 70%;
    }

    .carousel-item img {
        height: 400px;
    }
}